.login-container {
    background-color: rgba(128, 128, 128, 0.3); /* Transparent gray background */
    /* background-image: url("path/to/background-image.jpg"); Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  