body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}
.navbar{
  /* background-color: #7bae37 ; */
  background-color: #198754 ;
}

.category-aktif{
  background-color: #198754 ;
  color: white ;
}